  <header>
    <nav>
      <a href="#">Gmail</a>
      <a href="#">Images</a>
    </nav>
  </header>
  <main>
  <form action="/home/search" method="post">
<div>
    <img src="google-logo.png" alt="Google Logo" class="logo">
</div>
<div>
    <input type="checkbox" name="web" id="ontheweb" checked value="1" />
</div>
    <div class="search-bar">
      <input type="text" name="q" placeholder="Search Google or type URL">
      <input type="submit" name="ok0" value="Google Search" />
      <input type="submit" name="ok3" value="I'm Feeling Lucky" />
    </div>
  </form>
  </main>
  <footer>
    <p>Google offered in:</p>
    <a href="#">Français</a>
    <a href="#">Español</a>
  </footer>

