  <header>
    <div class="search-bar">
      <input type="text" placeholder="Search Google">
      <button>Search</button>
      <button>chercher des videos</button>
      <button>chercher des partitions</button>
    </div>
  </header>
  <main>
<%=@results%>
    <div class="result">
      <h3><a href="#">Result Title</a></h3>
      <p>Brief description of the result goes here...</p>
      <span>www.example.com</span>
    </div>
    <div class="result">
      <h3><a href="#">Another Result Title</a></h3>
      <p>Another brief description...</p>
      <span>www.anotherexample.com</span>
    </div>
  </main>

